 

 <div class="jumbotron searchBar">
             
<div class="row box-shadow" *ngFor="let data of data">
            <div class="lib-row lib-header">
              Weather
              <div class="lib-header-seperator"></div>
              <p>DATE:{{item.date}}</p>
              <hr>
              <p>MAX_TEMP:{{item.day.maxtemp_c}}</p>
              <hr>
              <p>MIN_TEMP:{{item.day.mintemp_c}}</p>
            </div>
           </div>
            <button type="button" class="btn btn-danger">Favourites</button>
            
        </div>

        <div class="row">
  <div *ngIf="list">
    <div *ngFor="let lists of list">
      <ul>
        <li>{{lists._id}}</li>
        <li>{{lists.date}}</li>
        <li>{{lists.maxtemp}}</li>
        <li>{{lists.mintemp}}</li>

       <button type="button" class="btn btn-outline-success">Edit</button>
        <button type="button" (click)="delete(lists._id)"class="btn btn-outline-success">Delete</button>
        <!-- <button type="button" class="btn btn-outline-success" (click)="showFavAll()">Details</button> -->
      </ul>
    </div>
  </div>
</div>